h3{
	font-size: 1.3em;
}
label{
	margin-top: 1em;
	display: inline-block;
	width: 6em;
	font-size: 1.2em;
}
textarea{
	margin-top: 1em;
	width: 100%;
}

.button{
	margin-top:0.6em;
	border: 1px solid #70A2BD;
	background: #70A2BD;
	color:#F0F0F0;
	font-weight:bold;
}
.button:hover{
	background: #5087A5;
}
.button:active{
	background: #447088;
}
form .button:last-child{
	marging-left:6em;
	background: rgba(0,0,0, .2);
	border: 1px solid rgba(0,0,0, .1);
}
form .button:last-child:hover{
	background: rgba(0,0,0, .4);
}
form .button:last-child:active{
	background: rgba(0,0,0, .6);
}
