<div class="section">
   <input [(ngModel)]="userSearchInput" type="text" placeholder="search for item...">
   <span class="button base-blue-color" (click)="onAddNewItemClick()">Add New Item</span>
   <div class="ordering">Order by: <button *ngIf="orderBy=='asc'" class="button" (click)="onOrderBy()">DESC</button><button *ngIf="orderBy!=='asc'" class="button" (click)="onOrderBy()">ASC</button></div>
   <h3>Items list</h3>
	<ul *ngIf="items">
		<li *ngFor="let item of items | search:userSearchInput | order:orderBy" (click)="onItemClick(item._id)">{{item.title}}</li>
	</ul>
</div>