<div *ngIf="item" class="section">
   <div *ngIf="!editingItem">
     <h3 >{{item.title}}</h3>
     <p  class="author">by {{item.author}}</p>
     <hr>
     <p class="content">{{item.content}}</p>
      <div class="actions">
    	<button class="button" (click)="onEdit()">Edit</button>
    	<button class="button" (click)="onDelete(item._id)">Delete</button>
      </div>
    </div>

<div *ngIf="editingItem" class="editItem">
   <form [ngFormModel]="editForm">
     <label for="">Title: </label><input  value="{{item.title}}" ngControl="title"/><br>
     <label for="">Author: </label><input type="text" value="{{item.author}}" ngControl="author"/><br>
     <label for="content">Content: </label><br>
        <textarea value="{{item.content}}" ngControl="content" cols="100" rows="20"></textarea><br>
     <button class="button" (click)="onSave(item._id)">Save</button>
   </form> 
</div>
</div>
